name: Validate Prometheus alerts

on:
  push:
    paths:
      - '**/alerts/*.alerts'
      - '**/alerts/*.yml'
      - '**/alerts/*.yaml'

  pull_request:
    paths:
      - '**/alerts/*.alerts'
      - '**/alerts/*.yml'
      - '**/alerts/*.yaml'

jobs:
  validate-alerts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install promtool
        run: |
          sudo apt-get update
          sudo apt-get install -y prometheus

      - name: Validate rules found in alerts directories
        run: |
          find . -type f \( -name "*.yml" -o -name "*.yaml" -o -name "*.alerts" \) -path "*/alerts/*" -exec promtool check rules {} \;
